@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@400;600&display=block');

body {
  margin: 0;
  font-family: 'Ka Blam', 'Ka Blam Under', 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}

@font-face {
	font-display: swap;
	font-family: 'HallofHeroes';
	font-style: normal;
	font-weight: normal;
	src: local('HallofHeroes'), url('HallofHeroes.woff') format('woff');
}

h1 {
	font-family: 'HallofHeroes';
	font-weight: 200;
}

